#header 
{
    background: linear-gradient(to right, rgb(20, 20, 20) 0%, rgb(20, 20, 20) 33%, rgb(33, 15, 2) 66%, rgb(33, 15, 2) 100%);
}

#title-container 
{
    font-size: xx-large;
}

#title-container:not(.activo)
{
    animation: aparecer 2s ease-in-out forwards;
}

#menu 
{
    display: none;
}

#translate 
{
    cursor: default;
}

#translate:hover 
{
    cursor: pointer;
}

#title-container.activo #translate 
{
    display: flex;
    justify-content: center;
    animation: aparecer 2s ease-in-out forwards;
}

#title-container.activo #menu 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    animation: aparecer 2s ease-in-out forwards;
}

hr 
{
    width: 100vw;
    height: 5px;
    border: none;
    background-color: black;
    margin: 0;
    transform-origin: center; /* Cuando transformes este elemento, toma como punto de referencia el centro. */
    transform: scaleX(0); /* Cuando cargas la página, el <hr> existe, pero está comprimido horizontalmente hasta tener ancho cero. scaleX() escala el ancho del elemento. */
    animation: expandir 3s ease-out forwards;
}

li 
{
    font-size: small;
    background-color: black;
    color: blanchedalmond;
    border: 2px solid blanchedalmond;
    padding: 5px;
}

@keyframes expandir 
{
    from 
    {
        transform: scaleX(0);
    }
    to 
    {
        transform: scaleX(1); /* Se escala hasta el 100% de su ancho, el cuál establecimos anteriormente que es todo el ancho visible de la pantalla pero que comenzó en scaleX(0). */
    }
}

@keyframes aparecer 
{
    from 
    {
        opacity: 0;
    }
    to 
    {
        opacity: 1;
    }
}